<table id="coupon-table">
  <thead>
    <tr>
      <th>Coupons served up</th>
    </tr>
  </thead>

  <tbody>
  <% areas.each do |area| %>
      <tr>
        <td><span class=<%=coupon_class(coupons_map[area.name], clicked_coupons)%>><%= coupons_map[area.name] %></span></td>
        <td><%= image_tag coupons_image_map[area.name], size: "100x100"%></td>
      </tr>
  <% end %>
  </tbody>
</table>
