<div class='coupons clearfix'>
  <h3>Coupons Delivered</h3>

  <div>
    <% product_areas_visited.each do |area| %>
      <div class="coupon">
        <div class="pull-left"><%= image_tag coupons_image_map[area.name], size: "100x100"%></div>
        <div class="coupon-text">
          <div class='coupon-value'><%= coupons_map[area.name][:description] %></div>
          <div><%= coupons_map[area.name][:name] %></div>
          <div class='small'><%= coupons_map[area.name][:legal] %></div>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    <% end %>
  </div>
</div>
