<h1 class="page-header">iBeacon Customer Registry</h1>

<table class='customers'>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= "Member number #{number_to_phone(customer.membership_number, area_code: true)}" %></td>
        <td><%= link_to 'Visits', customer_visits_path(customer.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
