<h1>iBeacon Customer Registry</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= "Member number #{number_to_phone(customer.membership_number, area_code: true)}" %></td>
        <td><%= link_to 'Visits', customer_visits_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
