// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  background-image: none;
}

.demo-container {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  padding: 20px 15px 15px 15px;
  float: left;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.2em;
}


#pie_chart_container {
  width: 100%;
  margin-top: 50px;
}

#smooth_chart_container {
  float: left;
  width: 70%
}
#smooth_chart_container .chart {
  margin-right: 50px;
}

#visit_table {
  margin-top: 40px;
}
#visit_table th {
  padding-right: 25px;
}
#coupons {
  float: left;
  width: 30%
}

#activity-chart {
  margin-top: 60px;
  clear: both;
}
#activity-chart canvas {
  margin-left: -15px;
}
#activity-chart .activity-chart-legend .legend-wrapper {
  float: left;
  font-size: 11px;
  width: 90px;
  margin-top: 10px;
}
#activity-chart .activity-chart-legend .square {
  border: #cccccc 1px solid;
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
}
#activity-chart .activity-chart-legend .visited {
  background-color: rgba(220,220,220,0.5);
}
#activity-chart .activity-chart-legend .delivered {
  background-color: rgba(151,187,205,0.5);
}
#activity-chart .activity-chart-legend .clicked {
  background-color: rgba(151,187,205,1);
}

#store_path_graph_container {
  margin-top: 50px;
}

.coupon {
  border: #ccc 1px solid;
  color: #777;
  width: 280px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
.coupon-text {
  margin-top: 20px;
  text-align: center;
}
.coupon-value {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.small {
  font-size: 11px;
}


.chart {
  opacity: 0.95;
}

th, td {
  padding-right: 10px;
}

.customers {
  th, td {
    padding-right: 50px;
  }
}


#dairy {
  color: #A0C9E8;
  font-size: 26px;
}

#pet {
  color: #563E3B;
  font-size: 26px;
}

#soup {
  color: #42968F;
  font-size: 26px;
}

#salad {
  color: #005B7C;
  font-size: 26px;
}

#crackers {
  color: #999999;
  font-size: 26px;
}

.clear {
  clear: both;
}



